@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Reem+Kufi:wght@400;500;600;700&family=Ubuntu:ital@1&display=swap');

.header{
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5vw;
  color: #FFF;
  background-color: rgb(129, 37, 37);
  padding: 10px 0;
}