
body{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    background-color: #39445a;
}

.app{
    min-height: 100vh;
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
}